.idea
.DS_Store
/.vagrant

# Ngnix
nginx/*
!nginx/sites-available/default
!nginx/sites-available/example.scotchbox
!nginx/sites-available/example.old
!nginx/sites-available/example.ngnix.default

# Sites
/public/*
!/public/example

