.idea
.DS_Store
/.vagrant
debug.log

# Ngnix
nginx/*
!nginx/sites-available/default
!nginx/sites-available/example

# Sites
/public/sites/*
/public/core/*
!/public/core/wp-config.php

/public/plugins
/public/themes

wp-multitenancy.box