.idea
.DS_Store
/.vagrant
debug.log

# Ngnix
nginx/*
!nginx/sites-available/default
!nginx/sites-available/example
!nginx/sites-available/example.ngnix.default

# Sites
/public/sites/*
/public/core/*
!/public/core/wp-config.php

/public/plugins
/public/themes

